<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>设置头像</title>
</head>
<body>
    <?php view('common.nav') ?>

    <h1>设置头像</h1>
    <form action="/user/setavatar" method="post" enctype="multipart/form-data">
        <div>
            选择头像
            <input id="img" type="file" name="avatar">
        </div>
        <div>
            <input type="submit" value="设置头像">
        </div>
    </form>

    <?php view('common.footer') ?>
</body>
</html>
<script src="/simditor-2.3.6/scripts/jquery.min.js"></script>

<script>
      var img = document.getElementById('img');
      img.onchange = function(){
          var img1 = this.files[0];
        //   获取每张图片的尺寸
          var fileSize = img1.size;
        //   每块的尺寸
          var perSize =4096;
        // 计算有多少块
          var count = Math.ceil(fileSize/perSize);
        //   document.write(count);
        // 为所有分片生成随机的名字
        var name = "img_"+Math.random(1,99999);
        for(var i=0;i<count;i++){
            // slice(开始的地方,结束的地方)
            var img0 = img1.slice(i*perSize,i*perSize+perSize)
            
            // 创建一个FormData表单
            var f = new FormData();
            // 把分割的图片数据加到表单中
            f.append('img',img0);
            // 把能分割的块数加到表单中
            f.append('count',count);  
            //当前的快数
            f.append('i',i)
            f.append('size', perSize)  // 每块尺寸
            f.append('img_name', name)  // 名字
            //执行ajax上传到服务器
            $.ajax({
                type:"POST",
                url:"/user/uploadbig",
                data:f,
                contentType: false,
                processData: false,
                success:function(data){

                }
            });
        }
      }
</script>


